body{
    background-image: url(images/planks.jpg);
    background-size: contain;
}

.navigation{
    position: fixed; 
    width: 100%;
    top: 0;
    background-color: whitesmoke;
    z-index: 100;
    border-bottom: solid black 2px;
}

.logo{
    width: 10em;
}

.nav-item{
    border: solid 1.5px black;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-link{
    color: #b80f1c;
    font-weight: bold;
    font-size: 18px;
}

.nav-item:hover, .nav-item.active{
    background-color: #b80f1c;
    .nav-link{
        color: white;
    }
}

.heading{
    margin-top: 3em;
    text-align: center;
    font-family: "Knewave", system-ui;
    -webkit-text-stroke: 2px whitesmoke;
    font-size: 5em;
    color: #b80f1c;
}

.image{
    width: 100%;
    margin-bottom: 2em;
    outline: 0.25em solid whitesmoke;
    border-radius: 1em;
}

.menus{
    margin: 5em;
}
