body{
    background-color: #e5e5f7;
    background-image: url(images/planks.jpg);
    background-size: contain;
}

.navigation{
    position: fixed; 
    width: 100%;
    top: 0;
    background-color: whitesmoke;
    z-index: 100;
    border-bottom: solid black 2px;
}

.logo{
    width: 10em;
}


.nav-item{
    border: solid 1.5px black;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-link{
    color: #b80f1c;
    font-weight: bold;
    font-size: 18px;
}

.nav-item:hover, .nav-item.active{
    background-color: #b80f1c;
    .nav-link{
        color: white;
    }
}

.container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-top: 10em;
    border: 5px whitesmoke solid;
    width: 100%;
}

.bar{
    flex: 1;
    background-color: #b80f1c;
    display: flex;
    justify-content:center;
    align-content: center;
    width: 100%;
}

.bar_content{
    justify-content:center;
    align-content: center;
}